@model LAB_TASK.DTOs.CustomerDTO

@{
    ViewBag.Title = "Delete Customer";
}


@if (Model == null)
{
    <p>Customer data not found.</p>
    <a href="/Customer/List" class="btn btn-secondary">Back to List</a>
}

else
{
    <h2 align ="center">Are you sure you want to delete this customer?</h2>
    <table class="table table-bordered">
        <tr>
            <th>Field</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>CustomerId</td>
            <td>@Model.CustomerId</td>
        </tr>
        <tr>
            <td>First Name</td>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>@Model.LastName</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>@Model.Phone</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>@Model.Address</td>
        </tr>
        <tr>
            <td>Date Joined</td>
            <td>@Model.DateJoined.ToString("dd-MM-yyyy")</td>
        </tr>
    </table>

    <form method="post" action="/Customer/Delete">
        <input type="hidden" name="id" value="@Model.CustomerId" />
        <button type="submit" name="dcsn" value="Yes" class="btn btn-danger">Yes, Delete</button>
        <a href="/Customer/List" class="btn btn-secondary">Cancel</a>
    </form>
}
